.audio::before {
  content: "";
  background-image: url(../images/audio-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: -2;
}

.audio::after {
  content: "";
  position: absolute;
  background-image: url(../images/sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  bottom: -250px;
  width: 100%;
  height: 150vh;
  left: 0;
  right: 0;
  z-index: -1;
}
